/* aside */
$aside-bg: #282623;
$title-bg: #000;
$title-box-shadow: 1px 1px 0px #6b6868;

/* nav */
$nav-on-bg: #55a4d8;
$nav-text: #fff;
$header-box-shadow: 1px 1px 0px #f7f7f7;

/* color */
$primary: #55a4d8;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;