@import '_color.scss';
* {
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;
}

// element ui menu
.el-menu {
    width: 100%;
    background-color: $aside-bg;
    font-weight: bold;
    .el-submenu__title {
        height: 40px;
        line-height: 40px;
        color: $nav-text;
        &:hover {
            background-color: $nav-on-bg;
            color: $nav-text; 
        }
        i {
            color: $nav-text;
        }
    }
    .el-menu-item {
        height: 35px;
        line-height: 35px;
        background-color: $aside-bg;
        color: $nav-text;
        &.is-active, &:hover {
            background-color: $nav-on-bg;
            color: $nav-text;
        }
    }
    .menu-link {
        display: block;
        color: $nav-text; 
        text-decoration: none;
    }
}

// element ui dialog
.el-dialog__body {
    padding: 25px 20px;
}
.el-dialog__footer {
    padding-top: 0;
}

// element ui tab
.el-tabs__item {
    height: 30px;
    line-height: 30px;
}

// text
.text--primary {
    color: $primary;
}
.text--success {
    color: $success;
}
.text--warning {
    color: $warning;
}
.text--danger {
    color: $danger;
}