@font-face {
  font-family: "iconfont";
  src        : url('//at.alicdn.com/t/font_1540180_5hj90so1tea.eot?t=1578985252153');
  /* IE9 */
  src        : url('//at.alicdn.com/t/font_1540180_5hj90so1tea.eot?t=1578985252153#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAABSQAAsAAAAAJwAAABRAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCIYAq3IKs+ATYCJAOBKAtWAAQgBYRtB4M6G/4fRSQnq1zI/q8TOBhDoDvI5zhCZbbXa53XWq/awNO+Vt3459jlyxHwkzZBcXgAqcQRIZSiTdOrfeleNXxaQzlmKCXP0+/XzvtrCiwiEglRo2YSQyI1TYWaLxYqP/Db/D831EtfMDEBq5Br1Nvswqg1LsoFrrlzVqBb+/5mvYJFGbUqWbb+9L8wF/mcypnu2tY52bXs85CCBIIj9AVZH+nVVmpZYEjY5iAYQlQWFOHVJ7Y5+sD/AgjYb+699FJOCoTP/z92enYslJ4z7QEAAuB+bFrfSJcnDMIkV+TZ33z1LLwQ9hOGPwzZ8vPTnE1YO7BdV5jPVVjA41zez1Hy85PSXLpy6VppysgdI2GMrdjCUqGS7s2YijpASLaxKIeXCOeB2swyhjwLuh7Qg9oztnoHrkLPZVmbZ2Hmjxybgq41J8pZVEIGEOrMjgrK87KiBUAETPUEoWjnNok+68bVoKddVaM6AB/y25c/kBUCVBo1MMd1/RS5GEICY3kTZgX5NRF2lmfhoS9qOEGd6pGsLg+AOfREsi71eeBFhlMb6iZhYrPjyF24SLGS5FpIYZmVilVosE+7Ho+/VtNLWN5PQIO3XeEmjE/YpgUX1nSKU1cWH7ciQRKftrUZ/y0PtPUdmDMyr6ljaMuygRXb6g5Na1iyb9GCPT2bJipdLetmFTtWzRibsmFNzS6lCTi4D+WfNx0SsIE2QYA+QYEDggFzBAdGRA+YJ/oqqRkA6BACGBIGsEWYwDJhAwNiC6wQO1VUcwRQJ25y2zV3ANMkDGiQcGCJRKr0tVgAiyQBWCCJwB5JAnokF9gkC4AJWQhURAF0yTKgRVYC66QYmCUVQCENwA7ZB6ySdmCG9ABj8hiY4ssK2OBbz7AmNSEMNWh5OMouOBK93AOfoP0C0P0CM78ccI+mSsTmvKRoUWC8aulJkAgJMEwkjLwRyzbTzkdqM8tMBkiWfiBtyET8dvMkmhHySLYcyXkmIzkFknsyUMRfGXkEL1YZwbtTpGlWvZf4jpGwNvfZZFoJNNGLaZhM5o5Mph91BpMg8IMU5FdNz3ccZteEmv2IwMMIC4cyLWeFZXTMH6Brof7n6f7XFcg6dIqapAAHrdZjWRc1hCRFUBnvtBQt8oygIKSFrVnazbiooEsYGVJvDFVDUBnikTQIdSqToTIBCS134HoweJtWgojkOKuREVw7HA+/twSAEAqpQ1UA6fKIlkthHcJKq4JA6aHCPM+B+WolG6xScyG/XqDcWv4IZDALO3HEFg7Bg5seXX0MH4SHhAjuDGcgizkJaRoUOTt6todDTdRlFXSqITUa7FDIIUBjiWGMyJ4HShdQlKBmZOClKqtfcTbONBXQzmO2Ytva1qKyFZVGkhH82qBPm14mw0dM4Wf2bCakYrkAxTZj1UtrkmUvfmRzlI7llS/MiVcM6WVjIQk9202TsW3OsljD6HwtrWuDFrrwfNCyeOSMD0MwXh7mSRZ7OGIlTGYqvSF2IP9uoOTArKHEmYF7i5fbokM86V7OxHAy1fPI40zI7ZyJODws3viNNn9n7D8564+jihRmswazCdgQbM57EAwnRhUi6IwZ+cwefNaKemwA/igvhcWLXzxhn7JAGIyjwhEtTulU16hVCUGQ6rZqqkdwrBXqOrYZc+WLuSGLtazgWB7B44HI+GlMNk1PJdP/9U8tQwYN//XX+Xp81FO73KNfOQxQFsDIEdkdX50sCqWh/kxFLB8jZUH6awul+ggblvDyezldDLNaMuhQU7z3+meWLiEnF3oToo5JuSDmmffnO/G5j+/WlzbEyS/yvVqY0CmfGnIpoTpPOi8WUnlyQpb2SB4O0ZnwXhlJo+pZLUG11+tyqLZVjQXpWjUZbmtRmhg1WMPpIaZOo7g2LcwuY7ul2f/dVrZTeRFCTQtvkuFhTCsxVaY4IKQy1DEsJ+IILaoAUFVZh5ARjYlwDQ33EVHooQ0W5PR4eqeiANDB0miIKcfSdapUun2qHIgBQtZM0lx6nvEV7UvG9rfcKG7L4KE9/D1z58/b6YEeN9YLGMu5EAYkvg0p2XUwrHwYuUiCbPW6SApiKgJJQOtq9VutGVgNAaXVewCEIkX5RWNZEt0AyxCYpWOZMtcon22xNZ8ZkuXzRHuebAYEQyFlQa06OclUfSJfk8zOU1di/rDxE23+zNi/ctYvDaLsDf3hxk/1re3Mnn2HOzq78Bj7eVt3eKVHI492DKXrqpTt9M5RLSrsWrx9G0YTwIAAIQhiyMVhcQGhB05A6w923Y9J6In5jkhXZ6Sjk6/yuxu8hI8vSd6Llx75iPNSl8kKjwaCwlZLmqhjv6x6Klo6uJMQattFGxK6FHm/sdubLouV4b5USSjuwUqtvahYsZdiZmyXslL54Y416ds1NqtNZ+KhTCrTbHG7OAdcpT35zJGAEwZAu8lZo9ATI7GaSNnvMKoQNBBcifJhP5r03YvipXvDb3xOf+bdAcW8lA2eO1SfRRshQiaFUbIIwMzmw91XDxTLCEmTXYqxi7typTfU8kbzEIH5EIMDCOBMJNAiQgRwBPlUrqdrWLhqAxJDWclXXy9u5bTSVP+tiiuWp+1Ac0Ex4+Bl9DRVop1e7R73OcIO0t5UnA9Jk/D4NFLj3hB4J0dZ/nY4jS2SciomRJMIAdNc6GTFG3bjus4VV6HadYjMQygIoViQcwBs7+bOMYhDvMx1st85A2Lnt6DhIykYflLbfTmjI8fT5kPO7lEVOwS77e2Ol4+4/VW8V3o+eBm4Fif1rdHhEuLV8ssMh9d59HgReaVyP+JUZTp26PO+JCe+UerbUlBsqFGV6PCpzeS8XrFQX69ncMeMUO0sT6BGSSKPlA7XaeLSWrK+ztMJ3BTPw542Ip5ag87Z0U/Mo7eujYrkpREd2StTd0ezOZryvQiy7WgwEee7U+z7lLdGEWIYO87fGaR8pqlbmiR3mnMcieQE5dTiUtTHkUgi8DTvOrY2DuKOwUeKbPFe3h1z/5DMK4q/lA2qYl/UjRv1xareuGfu8OV/Z3n/YPrgCd3+IroI4v0R/sbZ33snriMixN7Fg4GOz57pDqqUxEriUBXo3nb2+y3V/Te2JUStm+j9GMzyN454n8j18dw/9zodne1Yv9S4FMWcTb0RnXxzHP/SVA6R1VIccHyPCAVMxPdF5BZ3MKw32RmO9K7GcThB/a3GMPBD+NZfJ+W8X3nySfkvF2D4y5LFi7MHBxdaW2crlVm3b2fb2ycUF2ffvJklMxQ3UGeCCl+9yi4ry3F1zX74MGvbtmw7u8Jr17JXr14DCyIoureF2ByXHRix2D3UYq35g6q9xjpDHYNGxbbR0iU70XR99TCzOROuJTAXelb+ugFddXnqgzhKS3cYp0lao21L5QtNXiYwogyWMXTMHaFPIZDmIP9+CnZaZopGSneN1i73+2WhaeAKuzN+YauZIVrjkkfO0ZHuIc4JjHTTlMU2Qx8+hd8kjQ4a8V9eDGFO3ZufprEO1W9KIpbHhjBGp7ywQ36J6T7L9Lb2jK9Nt/yW6J0IntlI9oYN2WhI7UGykawNG0MKQpexTul16Uqn5mtoGc+aa8070jMyCAyF7A5U1HuU4NNjNJ+gmaRQVh7tTFjKrPm6+Ure0h5jCVjpYt3idNzYUYs7UNGYCKVFdvajGFRkKULHTNf/KdgY/CDClI9wCwu8lEcgdnldY5fRfmuNWn0mzNh+HkLTCMI8mpbxvPbGYUFqtcY644f9NhnyyUm5nMdjMqamMjKAFmGzX9HwMFLEXYVuCFngmcD8MSm8mTmsnh+mQjd4Rdt6jcqYqCGxtaoHa4WhFovdAyPjsjYTLcVeTd9P85mKGGQuhchuicQrk9QldqWt0WniHSZSWssoBmoRV3+F/pgRHrrJumm1JmYwOWZuFyfOZm4sZaF/0uwCV3+2R/nN2r0h/l0JV9N/VjuEM0zj3yRpfZl/cUCZT5rGbQX8U3Yw1WIfsVpEyULufCsk3hL1N7Vxq9BX/cGH1aWlckFm6a6+Gq6BVwIXiob5iw0KjH5zPIjFMAaIPw01jr/93Avzl+jX6UfMf0R5lMN/gSZKCJpHwdIyRSpsFQKKb1SRjZTg/o4U+IYEo8msu0JK9uZZ9eYHlGuVyQqLFdVAuT7YXP0forfMck2XYaOgMazM4erFEpYH+Y7u3JMv4E5alFy7IHBsy938ccvH3Da+A8w9T4fQtMra/4IKAtcLEPe4c2uHGMNj/j7LhnUKuC3I1A2XcfLz2VKys4zT1cUZWvubwRBjwHCYWaYbVvBvg6LfnPhnMIcNBxhDOVOqssupADqNt6o8u2pYVzaVBcMM3TCo265I/VKkJv1oH4ZzNTmxcEEikpMTMb9oC1Pwo7Mi3E/QscN4yYqJ3Jy48yFY3hgtPo9281e62/CX6qBWTj05MiqoFow2PtXKxQcrmxtHyWpy9Eizlh/Bl4dLtDIYH4fXvMiDkX9VaiO0cDivXE0EEOpy2jB54J7RYfTVqBkBDHIFCRWyCIeAS+7i5K1bk8Vpkm5VpIi3bP0WS9K6OZWQhm1FHnRleO2gosa/pdp/1Sr/mkM6etXK6oCWmoCVKwOhEQ9MjplwmeRASzFngkTJuEWqcdI4cz9oXv4L87yM7w6ppVuytR6X9XYrHtf+u5+glqf1ypE6/gRlAl6O7w9Pa7a93/6eYrkqY88377Z7zA/7mlQQdxWcKyyhupqbEoMg//vUQYqra3q6qxrwiWl5I/JmZug6tcFnLYK8aXbAJet8C3b7NraUQwchYHduKy1vsFTY1iZra5e1f3XZBtRqR3P8AsyedwGHWQsXmrmaCfEHZmYP8Pv4MfAHIRfmIPRbU5kNGWn0cLbZMpuPz0LAZiZkCP/6FS+x9uu3ISz+7ZsX9u0r69dEDf7Pf2IapMaLgmHhGtzzgX+IHXuWLU1mxrIZXCeY3xu9ZibE+6uGkklhuhZ67FdcoqaOlp4vOjlSMqdkBPabG70fMoxoKHamE8KsOimjW9jQZV0UpAhSBpVYut9TBDsLgpXBoKKgkiDlpxwr0KCAZeV+gaRBicRBGjVcGGFSvlYc+jjvZztPWkgp1f4bsUqdJ5lhkuaU1zPmGwLQEpDA39+VsExYtnMclgrhKwlqUf143PZYKb4qPmZ7nOlqaWePm06YTZiOs6Jae49Tx2+omxTpReq1nDoeZW3LPUAAfWCEsqJ49aN1I5S1bGQ/TQoP0C7FG6mtle5+IV+437HrRuvgOSBECJ2r0RW3DgLRXTPTM0UdnR0O7hRP33Lckr+zBctH+a1ea6Y7vSAI/QvkQOVXwDywxE+TmeALTvPI14gKeUUap4uSvCY9O24xNHwtQ+QxII1VU4z+GaH9PLyf8KzfS2v4Gnrf2n6q14JKzdbFPmKA30+AE9HPHyAcLZUBRAuDdiLO4h8agXSL03BdG7dJWuVYJY1nx3eZdtnUN8W2Gt4Yw9qZ7a8ft+PtyMg9brt+++U/H2jToS41valD/rqUdNiFHj+OllJqQTtPDpgD5xLHpmynZ3YnrK00cfncGo7AUsBZXryh6e5QV5Z8bvFyjsBCwqnhio/GvvK7hJRqU7zRXO2Yy4sVGEJle+LiZFErxRQxqVZZQZ2ZJ/IhgO8iWmejHCiy0SGhcnkoopM004KE6myKBpQ7opaxl7nO2CCzEp1kFurQcZGwnhvBzeCG8+qFonHU4waP4u3myqxk3N3O8Ks8YJKy8SaB9LahgPzH6x3bT/D7+Se2390u2h6ouPtqR7/wsvGJHUiOUpmjIOcWJMerDsixyfgGrttI/P7oD5Sd2FZWBq5kDaPurgReF2Fao3wjLQaDuXLGjxrPS1h9/aPbii2/MHZSzrbq4cwKJznsLA1cyL8wwIbMYCuzx3w2sH3YYCaO3OqZZE1lTQonP+LmnCuChIcPqsrht7MPhLjODHGuA7ju2YZJn6LLfcV4ACFkD3rMiD6vCwsBuN57C3M20o8Ywea71T5ih7PM7HJ73cBiIFxGvzu0AYxG5lFjWKJwEb2YeOqXMhD2ByRXthTqHL4Or6KvbBVqdRIqZEiE8H+02XnnbYwNejErC6HUVqQIodxHZ3RLABVJA+mAc1035ovGGq2YEusGnSGnQT2WivST7mEp6fQA20mv9IXOQfo1V5FB+r0uHf1PVFtgDKr+OY8X/J7A/7B66j+8yo5jO9Wr+o3CABTMEgD4L9NJVR4A18c9ecxh9PgwBN7J8m+wSU0FqMH2gnNtg9zqzAPKgOUoAMKybgHxH6nyAN70TY8zx/5vpxt7ogIGYCVKIMCOx9luogos8BY1IGCuaIErRLdmgyGsAxggePcW6eUQESDhhIgCF86LGJBwm8dnvxb1wAT+EvWBRDARBwL2yxAxDPs+fmEYgdOnmw6W0qpCGW+H/oSv0bA/R6b9BZdQp989pOG9P5DAZXRTDv8hsuqVadffjfEhRtKZ6QwryyaSP189FdRzLJb2hxEWY2AIcLSTm8geWCRZ7y/GyNf/CbwqMjjhjG/Z/wJWhOZr7xZvGfgfLGU6Y1uCxcH7IMxaaft4Rnbad2ZBtFyiZbq1M7DEYtNwsk+v7EprVrbUr+9bi1l8ZzV7P6qABAQVNNDBAPNPcV8WAYMDLnj9wXA0nkxn88Vytd5sd/vD8XS+XG/3x9O0wEo1cS7hjmFWZGcax5Ox/zxTTU4xHPV3on2mKqoW8LiTQ5wZVtoCw3brhYNJPkJlfgfU2HoKdlwpupmD30RZyjdVxPAUQ8JMgCn5aa2x0hewDKThfzWOjQTbZFMEvSOZs4V055C8N9Rh9R5yQSvk6JKUUM1di6yQnqtP6VwwOzUV2cE2sI0YK/LcItpjLtr27XZlqtQWM+MIuPSZ4i00uBJcpQ9JwIeJ0xpaFqGKOdAViDSkqqt5pmnb/0YIHh4AAAA=') format('woff2'),
    url('//at.alicdn.com/t/font_1540180_5hj90so1tea.woff?t=1578985252153') format('woff'),
    url('//at.alicdn.com/t/font_1540180_5hj90so1tea.ttf?t=1578985252153') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('//at.alicdn.com/t/font_1540180_5hj90so1tea.svg?t=1578985252153#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family            : "iconfont" !important;
  font-size              : 16px;
  font-style             : normal;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-actual-size:before {
  content: "\e686";
}

.icon-font-size:before {
  content: "\e662";
}

.icon-background:before {
  content: "\e819";
}

.icon-redo:before {
  content: "\e627";
}

.icon-zoom-out:before {
  content: "\e642";
}

.icon-user:before {
  content: "\e606";
}

.icon-model-rect:before {
  content: "\e669";
}

.icon-search:before {
  content: "\e600";
}

.icon-triangle:before {
  content: "\e607";
}

.icon-undo:before {
  content: "\e666";
}

.icon-cubic:before {
  content: "\e64e";
}

.icon-fold-right:before {
  content: "\e601";
}

.icon-copy:before {
  content: "\e60c";
}

.icon-star:before {
  content: "\e608";
}

.icon-line-strong:before {
  content: "\e604";
}

.icon-full-screen:before {
  content: "\e6b7";
}

.icon-quadratic:before {
  content: "\e6d5";
}

.icon-paste:before {
  content: "\e62d";
}

.icon-dot-line:before {
  content: "\e6a2";
}

.icon-jinggao:before {
  content: "\e661";
}

.icon-ellipse:before {
  content: "\e671";
}

.icon-todown:before {
  content: "\e603";
}

.icon-toup:before {
  content: "\e605";
}

.icon-zoom-in:before {
  content: "\e64c";
}

.icon-arc:before {
  content: "\e649";
}

.icon-diamond:before {
  content: "\e643";
}

.icon-rect:before {
  content: "\e60a";
}

.icon-circle:before {
  content: "\e623";
}

.icon-line-style:before {
  content: "\e696";
}

.icon-v-drag:before {
  content: "\e805";
}

.icon-h-drag:before {
  content: "\e66c";
}

.icon-line:before {
  content: "\e71d";
}

.icon-preview:before {
  content: "\e65a";
}

.icon-polyline:before {
  content: "\e609";
}

.icon-text:before {
  content: "\e624";
}

.icon-interval:before {
  content: "\e68e";
}

.icon-fill-screen:before {
  content: "\e85b";
}

.icon-save:before {
  content: "\e64d";
}

.icon-setting:before {
  content: "\e645";
}

.icon-up-fill:before {
  content: "\e602";
}

.icon-delete:before {
  content: "\e62c";
}

.gb-toggle-btn {
  position  : absolute;
  background: #fff;
  cursor    : pointer;

  &:hover {
    background: #eee;
  }
}

.root,
#canvasPanel {
  position  : fixed !important;
  right     : 0;
  bottom    : 0;
  background: #fff;
}

.root {
  left: 0;
  top : 0;
}

#canvasPanel {
  left: 40px;
  top : 40px;
}

#headPanel {
  height     : 40px;
  padding    : 10px;
  line-height: 20px;
  background : #fff;
  position   : relative;
  z-index    : 11;
  box-shadow : 0 2px 2px 0 rgba(0, 0, 0, .1);
  transition : transform .3s ease-in-out;

  &.hidden {
    transform: translate(0, -100%);
  }

  .logo {
    display       : inline-block;
    vertical-align: middle;
  }

  .gb-toggle-btn {
    width        : 20px;
    height       : 10px;
    top          : 100%;
    left         : 50%;
    border-radius: 0 0 10px 10px;
    box-shadow   : 0 2px 2px 0 rgba(0, 0, 0, .1);
    transform    : translate(-50%, 0);
  }
}

#configPanel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25%;
  overflow: auto;
  background: #fff;
  padding:40px 0 10px;
  transition: transform .3s ease-in-out;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);

  &.hidden {
    transform: translate(100%, 0);
  }

  .panel-title {
    font-size    : 16px;
    padding      : 5px 10px;
    background: #f0f2f5;
  }

  .gb-toggle-btn {
    width        : 10px;
    height       : 20px;
    top          : 50%;
    right        : 100%;
    border-radius: 10px 0 0 10px;
    box-shadow   : -2px 0 2px 0 rgba(0, 0, 0, .1);
    transform    : translate(0, -50%);
  }

  .config-data{padding:5px 10px;}
  .config-item{
    input{
      width: 80px;
      padding: 5px;
      margin:5px 10px;
      background: #f4f7fd;
      border-radius: 4px;
    }
  }
  button{
    width: 80px;
    line-height: 24px;
    display: inline-block;
    padding:5px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin:0 5px;
    cursor: pointer;
  }
  .save{
    color: #fff;
    background: #46a0fc;
    border-color: #46a0fc;
  }
}

#toolbar {
  position   : absolute;
  top        : 0;
  left       : 50%;
  padding    : 5px 10px;
  user-select: none;
  white-space: nowrap;
  transform  : translate(-50%, 0);
  box-shadow : 0 0 2px 0 rgba(0, 0, 0, .1);
  background : #fff;
  z-index    : 100;

  .split {
    display   : inline-block;
    position  : relative;
    top       : 5px;
    height    : 20px;
    width     : 1px;
    background: #999;
    margin    : 0 5px;
  }

  .iconfont {
    display       : inline-block;
    vertical-align: top;
    text-align    : center;
    line-height   : 30px;
    font-size     : 20px;
    height        : 30px;
    width         : 30px;
    color         : #bfbfbf;
    cursor        : pointer;
    border        : 1px solid transparent;

    &:hover {
      border-color: #ccc;
    }

    &.enabled {
      color: #666;
    }
  }
}

.g6-grid {
  transform: none !important;
}
