@import '//at.alicdn.com/t/font_1540180_5hj90so1tea.css';

.gb-toggle-btn{
    position: absolute;
    background: #fff;
    cursor: pointer;
    &:hover{
        background: #eee;
    }
}

.root,
#canvasPanel{
    position: fixed!important;
    right: 0;
    bottom: 0;
    left: 0;
}

.root{top: 0;}
#canvasPanel{top: 40px;}

#headPanel{
    height: 40px;
    padding: 10px;
    line-height: 20px;
    background: #fff;
    position: relative;
    z-index: 11;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    transition: transform .3s ease-in-out;
    &.hidden{
        transform: translate(0, -100%);
    }
    .logo{
        display: inline-block;
        vertical-align: middle;
    }
    .gb-toggle-btn{
        width: 20px;
        height: 10px;
        top: 100%;
        left: 50%;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
        transform: translate(-50%, 0);
    }
}

#itemPanel{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 40px;
    background: #fff;
    padding-top: 65px;
    transition: transform .3s ease-in-out;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
    &.hidden{
        transform: translate(-100%, 0);
    }
    .icon-h-drag{
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: 20px;
        line-height: 20px;
        font-size: 18px;
        background: #f5f5f5;
        text-align: center;
        cursor: move;
        &:hover{
            background: #f1f1f1;
        }
    }
    .gb-toggle-btn{
        width: 10px;
        height: 20px;
        top: 50%;
        left: 100%;
        border-radius: 0 10px 10px 0;
        box-shadow: 2px 0 2px 0 rgba(0,0,0,.1);
        transform: translate(0, -50%);
    }
    .split{
        height: 1px;
        display: block;
        background: #e0e0e0;
        margin: 5px 0;
    }
    .icon-tool{
        .iconfont{
            display: inline-block;
            vertical-align: top;
            text-align: center;
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 30px;
            cursor: move;
            border: 1px solid transparent;
            &:hover {
                border-color: #ccc;
            }
        }
    }
}

#configPanel{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
    padding-top: 40px;
    background: #fff;
    transition: transform .3s ease-in-out;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
    &.hidden{
        transform: translate(100%, 0);
    }
    .panel-title{
        font-size: 16px;
        padding:5px 10px;
        border-bottom: 1px solid #ccc;
    }
    .gb-toggle-btn{
        width: 10px;
        height: 20px;
        top: 50%;
        right: 100%;
        border-radius:10px 0 0 10px;
        box-shadow: -2px 0 2px 0 rgba(0,0,0,.1);
        transform: translate(0, -50%);
    }
}

#toolbar{
    position: absolute;
    top: 0;
    left: 50%;
    padding:5px 10px;
    user-select: none;
    white-space: nowrap;
    transform: translate(-50%, 0);
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
    background: #fff;
    z-index: 100;
    .split{
        display: inline-block;
        position: relative;
        top: 5px;
        height: 20px;
        width: 1px;
        background: #999;
        margin: 0 5px;
    }
    .iconfont{
        display: inline-block;
        vertical-align: top;
        text-align: center;
        line-height: 30px;
        font-size: 20px;
        height: 30px;
        width: 30px;
        color: #bfbfbf;
        cursor: pointer;
        border: 1px solid transparent;
        &:hover {
            border-color: #ccc;
        }
        &.enabled {
            color: #666;
        }
    }
}

.g6-grid{transform: none !important;}
