$mainBg: #000;
$main: #ef8200;
//$currentBg: #29bdab;
$currentBg: #427273;
.we-icon-prefix {
    width: 20px;
    margin-left: 2px;
}

.we-btn-main {
    color: white;
    background-color: #27282c;
    border-color: #27282c;
}

.el-button.el-button--main {
    color: white;
    background-color: $main;
    border-color: $main;
    &:hover {
        background-color: $main;
        border-color: $main;
        opacity: 0.6;
    }
}

/* .el-button:hover {
    color: white;
    background-color: #d0d4dc;
    border-color: #d0d4dc;
} */

.el-button--text:hover {
    color: #66b1ff;
    background-color: transparent;
    border-color: transparent;
}

.el-tabs__item.is-active,
.el-tabs__item:hover {
    color: $main;
}

.select-group {
    display: inline-table;
    width: 100%;
}

.select-group-option {
    display: table-cell;
    .el-input__inner {
        border-radius: 0;
        height: 41px;
        line-height: 41px;
    }
}

.link {
    &.decoration {
        text-decoration: underline;
    }
    text-decoration: none;
    &:link {
        color: #66b1ff;
    }
    &:visited {
        color: #c5c3c3;
    }
}
