/* 所有 scss 文件都不用手动引入变量, webpack 中已自动处理 */
@import "./_reset.scss";
@import "./_main.scss";
@import "./_tree.scss";
@import "./_skin.scss";

body{min-height: 100vh;}

#app {
    min-height: 100vh;
    overflow: auto;
}

.is-app{
    font-size: 16px;
    .el-message{
        width: 70%;
        min-width: initial;
    }
}

.is-pc{
    .el-popup-parent--hidden{
        &.hasScroller{
            padding-right: 6px;
            .common_header{padding-right: 6px;}
        }
        .base-heading{right: 6px;}
    }
    .mb10{margin-bottom: 10px;}
}

.page_content{
    padding:20px 20px 10px;
    position: relative;
    .el-table__empty-block{
        text-align: center;
    }
}

.inputError{
    .el-input__inner{
        border-color: #f56c6c;
    }
}

.inputErrorTip{
    position: absolute;
    top: 40px;
    left: 0;
    color: #f56c6c;
    line-height: 20px;
    display: none;
    &.hasError{
        display: block;
    }
}

.cursor-pointer{cursor: pointer;}

.copyright{
    color: #adadad;
    padding: 10px 0 20px;
    text-align: center;
}

.pagination{
    text-align: right;
    margin-top: 20px;
}

.van-skeleton{
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background: #fff;
    overflow: hidden;
    transition: opacity .2s;
    &.fade-enter,
    &.fade-leave-to{
        opacity: 0;
    }
}

.van-skeleton__title,
.van-skeleton__row{
    height: 26px;
    background-color: #f2f3f5;
}

.van-skeleton__title{
    width: 40%;
    margin-top: 30px;
}
.van-skeleton__row{
    height: 40px;
    margin-top: 20px;
}
/*
* 公共搜索框
*/
.filterbar{
    border: 1px solid #EBEEF5;
    border-radius: 3px;
    padding: 22px 10px 0;
    margin-bottom: 30px;
    background: #fff;
}

@media screen and (max-width: 500px) {
    body{background: #f2f3f5;}
    .page_content{
        margin:0;
        padding:0;
    }
    .copyright{padding: 20px 0;}
}

.plr{position: relative;}
.pla{position: absolute;}
.inline{display: inline-block;}

/* 内容区样式 */
.el-container{flex-basis:0 !important;}
.base-container {
    padding-top: 0;
    position: relative;
    overflow-x: hidden !important;
}
