/* aside */
$aside-bg: #fff;
$title-bg: #fff;
$system-name-text: #282623;
$title-border: #f5f5f5;
$aside-box-shadow: 1px 1px 0px #f5f5f5;

/* nav */
$nav-on-bg: #90a8ef;
$nav-text: #858585;
$nav-on-text: #fff;
$header-box-shadow: 1px 1px 0px #f7f7f7;

/* color */
$primary: #90a8ef;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;